body, h1, li, p {
  margin: 0;
}

header {
  height: 60px;
  background-color: #3cb371;
}

.header-f-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 30px;
  margin-left: 10px;
  line-height: 60px;
}

li {
  margin-right: 10px;
  list-style: none;
  float:left;
}